# Ignore everything:
*

# Except for the following:
# ========================

# core files
# ----------

!/.gitignore
!/README.md
!/makefile
!/RSJparser.tcc

# test files
# ----------

!tests/
!tests/*.cpp
!tests/*.hpp
!tests/json_files/
!tests/json_files/*.json

